body{
    /* background-image: url("https://cdn.pixabay.com/photo/2017/10/10/16/55/halloween-2837936_1280.png"); */
    background-image: url("https://cdn.pixabay.com/photo/2016/09/29/11/56/halloween-1702677_1280.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

h1{
    font-size: 60px;
    color: orangered;
    font-family: 'Crimson Text', serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.header{
    display: flex;
    justify-content: center;
}

h4, h3{
    font-size- 45px;
    text-transform: uppercase;
    color: black;
    font-weight:bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff5100;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card0{
    background-image: url("https://cdn.pixabay.com/photo/2021/10/22/16/23/halloween-6733040_640.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.card1{
    background-image: url("https://cdn.pixabay.com/photo/2023/04/03/01/30/glass-bottle-7895746_640.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2{
    background-image: url("https://cdn.pixabay.com/photo/2020/10/09/12/00/halloween-5640385_640.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.card3{
    background-image: url("https://cdn.pixabay.com/photo/2021/10/30/09/41/halloween-6753918_640.jpg");
    background-color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.haloweenBack{
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid #FAD9BD;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
}

.days{
    font-family: 'Crimson Text', serif;
    font-size: 40px;
}

.orange{
    font-size: 60px;
    font-family: 'Crimson Text', serif;
    border: none;
    color: #ff5100;
}

button{
    margin-left: 100px;
    border: none;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
    transition: 0.5s all ease;
}

.haloweenBack:hover{
    background-color: #ff6600;
    border: 5px solid #52292D;
}


@media all and (max-width:800px){

    h1{
        font-size: 40px;
    }
}


@media all and (max-width:500px){

    h1{
        font-size: 30px;
    }
}